@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import 'vars';

html, body {height: 100%}

body {background: #f5f5f5}

.header {
  background: $mainColor;
  margin-top: 40px;
  padding: 25px 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px  #00000044;


  .logo__img {
    height: 85px;
    width: 85px;
    border: 2px solid $secondaryColor;
    border-radius: 50%;
    transition: transform 1s ease;

    &:hover {transform: rotate(1turn)}
  }

  .logo__text {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 1em;


    span:last-of-type {
      color: $secondaryColor;
      font-size: 22px;
    }
  }

  .search__input {
    width: 260px;
    height: 38px;
    margin-left: 280px;
  }

  .nav-item {
    background: #f5f5f5;
    margin-left: 6px;

    &:hover {
      background: $hoverColor;
    }

    .nav-link {
      color: #242424
    }
  }
}

.modal__window {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #f5f5f599;
  display: none;

  .modal__content {
    width: 64%;
    height: 200px;
    margin-top: 15vh;

    .modal__header {
      color: $secondaryColor;
    }

    .modal__body {
      position: relative;

      .modal__input {
        padding: 10px 20px;
        font-size: 18px;
      }

      .modal__clearBtn {
        position: absolute;
        right: 25px;
        top: 10px;
        width: 20px;
        height: 20px;
        display: none;
        transition: all 600ms ease;
         &:hover {
           width: 30px;
           height: 30px;
           right: 15px;
         }
      }
    }

    .modal__closeBtn {
      background: $secondaryColor;
      color: $mainColor;
      font-size: 18px;

      &:hover {
        background: #571a19;
      }
    }
  }
}

.main_part {
  background: $secondaryColor;
  border: 2px solid #501111;
  border-radius: 15px;
  color: $mainColor;
  margin-top: 60px;
  padding: 60px 38px;
  font-family: 'Arial', sans-serif;

  .main_part__text {
    width: 650px;

    .main_part__p {
      font-size: 22px;
    }

    .btn {
      font-size: 22px;
    }
  }
  .main_part__img {
    width: 570px;
    height: 300px;
  }

}

.secondary_part {
  margin-top: 60px;
  color: #323232;

  .secondary_part__news {
       max-width: 836px;

    .secondary_part__card {
      width: 378px;
      margin-right: 40px;
      margin-bottom: 30px;
      font-size: 20px;
      color: #1b1b1d;
    }
  }

  .secondary_part__preview {
    width: 380px;
    font-size: 18px;

    .secondary_part__preUpper {
      background: $mainColor;
      padding: 16px;
      border-radius: 5px;
    }

    .secondary_part__preLower {
      margin-top: 20px;
      padding: 16px;
      color: $mainColor;
      background: #1698b1;
      border-radius: 5px;

      .secondary_part__img {
        margin-bottom: 30px;
      }

      .secondary_part__btn {
        font-size: 18px;
        background: $mainColor;

        &:hover {background: $hoverColor}
      }
    }
  }

  .secondary_part__moreBtn {
      font-size: 18px;
  }
}

.footer {
  font-size: 20px;
  background: #ffffff;
  margin-top: 110px;
  padding: 40px;
  border: 1px solid #00000044;
  border-radius:15px 15px 0 0;
}

@media (max-width: 1200px) {
  .header {
    flex-direction: column;

    .search__input {
      width: 99%;
      margin: 20px 0;
    }

    .nav {
      justify-content: flex-end;
    }
  }

  .main_part {
    flex-direction: column;

    .main_part__text {
      width: 100%;
    }

    .main_part__img {
      margin-top: 20px;
      width: 100%;
      height: auto;
    }
  }
  .secondary_part {
    flex-direction: column;


    .secondary_part__more {.secondary_part__card {width: 378px}}

    .secondary_part__preview {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {

  .secondary_part {
    flex-direction: column;


    .secondary_part__more {.secondary_part__card {width: 308px}}
  }
}

@media (max-width: 767px) {
  .secondary_part {
    flex-direction: column;
    width: 100%;

    .secondary_part__block {
      flex-direction: column;


      .secondary_part__card {
        width: 100%;
      }
    }

    .secondary_part__more {
      .secondary_part__card {
        width: 100%;}
    }
  }
}

@media (max-width: 347px) {
  .nav {
    flex-direction: column;
  }
    .secondary_part__more {
      >div {width: 100%}
    }
    .header {
      .logo__img {
        height: 50px;
        width: 50px;
      }
    }
  }
